



<div style="height: 100vh;">
    <mat-toolbar color="basic">
       
        <button mat-flat-button class="opp" color="accent" routerLink='/gradassignment'>Assignments</button>
        <span class="example-spacer1"></span>
        <button mat-flat-button  class="opp" color="accent" routerLink='/gradproject' >Projects</button>
        <span class="example-spacer1"></span>
        <button mat-flat-button class="opp" color="accent" routerLink='/scoreboard' >Score Board</button>
        <span class="example-spacer1"></span>
        <button mat-flat-button class="opp" color="accent" routerLink='/quiz' >Quiz</button>
        <span class="example-spacer1"></span>
        <button mat-flat-button class="opp" color="accent" routerLink='/gradtrends' >Trends</button>
        <span class="example-spacer"></span>
   
        <button mat-button [matMenuTriggerFor]="menu">{{username}} <mat-icon >person
        </mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>{{email}}</button>
        </mat-menu>
       <span class="example-spacer1"></span>
        <button mat-flat-button  target="_blank" routerLink="/">Logout</button>
    </mat-toolbar>  
  <div>

<mat-card>
    <mat-card-header>
       <mat-card-title>QUIZ</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="/assets/image/quiz2.jpg">
    <mat-card-content>
        <p>you won't go back to previous question in mcq quiz rules</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" routerLink='/quiz'>START</button>
       
    </mat-card-actions>
</mat-card>
