
<!--
<div>
  <img src="assets\img\accolite.jpg" alt="">
    <button class="loginBtn loginBtn--google " #loginRef>Login to Opportunity Management Portal </button>      
 </div>
-->


<div class="navbar">
  <a routerLink="/login" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active" style="float: right;">About</a>



  <img src="\assets\image\accolite.jpg" alt="Workplace">
 


 
	


  

   <button   class="loginBtn loginBtn--google " #loginRef>Login with Google</button>      
 </div>
