

<!--<div>
  <img src="\assets\image\accolite.jpg" alt="Workplace">
  <p>Welcome to Accolite University!!!</p> <br><br><br><br><br><br><br><br><br>
  <blockquote>"Bringing the best practices from the Industry Expertise"</blockquote><br><br>
  <label> Login to continue further</label><br><br>
  <button class="loginBtn loginBtn--google " #loginRef>Login with Google</button> 
</div>-->
<div class="navbar">
  <a routerLink="/login" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active" style="float: right;">About</a>


 <img src="\assets\image\accolite.jpg" alt="Workplace">
    <button   class="loginBtn loginBtn--google " #loginRef>Login with Google</button>      
 </div>