
 form{
    text-align: left;
    font-family: sans-serif;
    margin: 35px;
    margin-left: 350px;
    width: 600px;
    padding-top: 25px;
    padding-left: 50px;
    box-sizing: content-box;
    border-style: solid;
    border-color: black;
}
/*  
#welcomenote{
    color: #daa520;
    font-size: 100%;
    font-family: none;
    font-variant: none;
    font-style: italic;
    top: 25px;
    left: 1000px;
  }
  .navbar {
      overflow: hidden;
      background-color: #333;
      position: relative;
      top: 100;
      width: 100%;
    }
  .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      font-style: italic;
    }
  .navbar a:hover {
      background: #ddd;
      color: black;
    }
  img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  p
  {
      text-align: left;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-variant: none;
      font-style: italic;
      font-size: 100%;
      font-weight: none;
      color:black;
      top : 250px;
      position: absolute;
  }
  .button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  */
  /*
  form{
    text-align: left;
    font-family: sans-serif;
    margin: 35px;
    margin-left: 350px;
    width: 400px;
    padding-top: 25px;
    padding-left: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
}
.input_field
  {
    font-style: italic;
    padding: 8px;
    padding-top: 15px;
    width: 275px;
    margin-bottom: 10px;
    text-align: left;
  }
  button
  {
    background-color:goldenrod;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  */