<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>

<!--
<div>
  <form>
      Project title<br>
      <input type="text" class="input_field" name="title"  required><br>
      Project Description<br>
      <input type="text" class="input_field" name="description" required ><br><br>
      <button type="submit" >Save</button><br><br>
  </form>
</div>

  
    -->
  
  
    <div class="col-md-6">
    <h2 class="text-center">Create Project</h2>
    <form>
     <div >
        <label for="title"> <b>Title:</b></label>
        <input type="text" class="form-control"  placeholder="Enter title" name="title"  [(ngModel)]="pro.title"  required
        #title="ngModel" [class.is-invalid]="title.invalid && title.touched">
        <small class="text-danger" [class.d-none]="title.valid || title.untouched">title is required </small>
         </div> 
        
          
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control"  placeholder="Enter description" name="description"  [(ngModel)]="pro.description"  required
            #description="ngModel" [class.is-invalid]="description.invalid && description.touched">
            <small class="text-danger" [class.d-none]="description.valid || description.untouched">description is required </small>
            </div>
            <div class="form-group">
              <label for="assigned_to">Assigned_to:</label>
              <input type="text" class="form-control"  placeholder="Enter assigned_to whom" name="assigned_to"  [(ngModel)]="pro.assigned_to"  required
              #assigned_to="ngModel" [class.is-invalid]="assigned_to.invalid && assigned_to.touched">
              <small class="text-danger" [class.d-none]="assigned_to.valid || assigned_to.untouched">assigned_to whom is required </small>
              </div>
              <div class="form-group">
                <label >Last Date for Submission</label>
                <input type="date" required #last_date="ngModel" [class.is-invalid]="last_date.invalid && last_date.touched" class="form-control" name="last_date" [(ngModel)]="pro.last_date">
            <small class="text-danger" [class.d-none]="last_date.valid || last_date.untouched">last_date is required</small>
            </div>
      
    
     
    <div>
      <button  class="btn btn-primary" (click)="createproject()">Create</button>
      &nbsp;&nbsp; &nbsp;&nbsp;
      <button  class="float-right" class="btn btn-success" [routerLink]="['/trainerproject']">Back</button>
      
    </div>
   
    </form>
   
    
    </div>
