


<div class="col-md-6">
  <h2 class="text-center" class="form-group" class="centered">Add Quiz Questions</h2>
  <form #createform="ngForm">

    
      
     
     

    
  
   <div class="form-group">
      <label for="qn" style="font-size:20px">Question:</label>
      <input type="text" class="form-control"  placeholder="Enter Question" name="qn"  [(ngModel)]="que.qn"  required
      #qn="ngModel" [class.is-invalid]="qn.invalid && qn.touched">
      <small class="text-danger" [class.d-none]="qn.valid || qn.untouched">Question is required </small>
       </div> 
      
      



        <div class="form-group">
          <label for="op1" style="font-size:20px">Option 1:</label>
          <input type="text"  class="form-control"  placeholder="Enter Option" name="op1"  [(ngModel)]="que.op1"  required
          #op1="ngModel" [class.is-invalid]="op1.invalid && op1.touched">
          <small class="text-danger" [class.d-none]="op1.valid || op1.untouched">Option 1 is required </small>
          </div>
          <div class="form-group">
            <label for="op2" style="font-size:20px">Option 2:</label>
            <input type="text"  class="form-control"  placeholder="Enter Option" name="op2"  [(ngModel)]="que.op2"  required
            #op2="ngModel" [class.is-invalid]="op2.invalid && op2.touched">
            <small class="text-danger" [class.d-none]="op2.valid || op2.untouched">Option 2 is required </small>
            </div>
            <div class="form-group">
              <label for="op3" style="font-size:20px">Option 3:</label>
              <input type="text"  class="form-control"  placeholder="Enter Option" name="op3"  [(ngModel)]="que.op3"  required
              #op3="ngModel" [class.is-invalid]="op3.invalid && op3.touched">
              <small class="text-danger" [class.d-none]="op3.valid || op3.untouched">Option 3 is required </small>
              </div>
              <div class="form-group">
                <label for="op4" style="font-size:20px">Option 4:</label>
                <input type="text"  class="form-control"  placeholder="Enter Option" name="op4"  [(ngModel)]="que.op4"  required
                #op4="ngModel" [class.is-invalid]="op4.invalid && op4.touched">
                <small class="text-danger" [class.d-none]="op4.valid || op4.untouched">Option 4 is required </small>
                </div>
               
              <div class="form-group">
                <label style="font-size:20px">Answer:</label>
                <select required  #answer="ngModel" [class.is-invalid]="answer.invalid && answer.touched" class="custom-select" name="answer" [(ngModel)]="que.answer">
                    <option *ngFor="let j of Complete">{{j}}</option>
                    <small class="text-danger" [class.d-none]="answer.valid || answer.untouched">Please mention the answer</small>
                </select>
               
            </div>
    
  
   
  <div>
    <button [disabled]="createform.form.invalid" class="btn btn-success" (click)="addqn()">Add</button>
    &nbsp;&nbsp; &nbsp;&nbsp;
    <button  class="float-right" class="btn btn-success" [routerLink]="['/trainerassignment']">Back</button>
  </div>
 
  </form>
 
  
  </div>
  
