.spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar.mat-primary {
    background: #95ddbc;
    color: #fff;
  }


  form{
    text-align: left;
    font-family: sans-serif;
    margin: 35px;
    margin-left: 350px;
    width: 600px;
    padding-top: 25px;
    padding-left: 50px;
    box-sizing: content-box;
    border-style: solid;
    border-color: black;
}
